"*":
  Zen:
    fullscreen: false
    typewriter: true
  "atom-clock":
    showClockIcon: true
    showTooltip: true
  "atom-easy-jsdoc":
    useReturns: true
  "atom-focus-mode":
    whenFocusModeIsActivated:
      centerEditor: "afm-center-editor-width-github"
      enterFullScreen: false
      hideFooterBar: false
      hideLineWrapGuide: true
      useTypeWriterMode: true
  "atom-ternjs":
    useSnippets: true
  "autocomplete-plus":
    confirmCompletion: "enter"
    useCoreMovementCommands: false
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "whitespace"
      "autosave"
      "autoclose"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "~/git"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "gruvbox"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "OperatorMonoSSm Nerd Font"
    scrollPastEnd: true
    showIndentGuide: true
  emmet:
    extensionsPath: "~/.emmet"
  "exception-reporting":
    userId: "63c15804-b048-805f-a7ad-8a071e072139"
  "linter-eslint": {}
  "linter-js-standard":
    checkStyleDevDependencies: true
    showEslintRules: true
  "linter-ui-default": {}
  "project-manager":
    includeGitRepositories: true
  termination:
    style:
      theme: "gruvbox"
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
