# Vim escape in insert mode
'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'j j': 'vim-mode-plus:activate-normal-mode'
'atom-text-editor[mini]':
  'j j': 'core:cancel'

# Expand Emmet
'atom-text-editor:not([mini])':
  ', e m': 'emmet:expand-abbreviation'

# Movement
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'L': 'vim-mode-plus:move-to-last-character-of-line'
  'H': 'vim-mode-plus:move-to-beginning-of-line'
  'Z Z': 'vim-mode-zz:saveAndClose'
  'Z Q': 'vim-mode-zz:close'
  # Disable arrow keys
  'up': 'unset!'
  'down': 'unset!'
  'left': 'unset!'
  'right': 'unset!'
  ', d': 'jsdoc:block'
  ', s f': 'standard-formatter:format'
  ', e f': 'linter-eslint:fix-file'
  ', j p': 'pretty-json:prettify'
  # Vim macros
  'q': 'atom-keyboard-macros-vim:toggle_record_macro_vim'
  '@': 'atom-keyboard-macros-vim:execute_macro_vim'
  'Q': 'atom-keyboard-macros:call_last_kbd_macro'
  # Lazy motion search
  '/': 'lazy-motion:forward'

'atom-text-editor':
  'ctrl-k': 'unset!'

# Overall <Leader> ports from Vim
'.platform-darwin':
  ', n': 'tree-view:toggle'
  ', N': 'tree-view:reveal-active-file'
  ', p': 'fuzzy-finder:toggle-file-finder'
  # Quickly install a package
  # https://github.com/atom/settings-view/blob/master/menus/settings-view.cson
  ', v k': 'settings-view:show-keybindings'
  ', i p': 'settings-view:install-packages-and-themes'
  ', u p': 'settings-view:check-for-package-updates'
  ', v p': 'settings-view:uninstall-packages'
  ', v t': 'settings-view:uninstall-themes'

# NerdTree Keys
'.tree-view':
  'o': 'tree-view:open-selected-entry'
  'x': 'tree-view:collapse-directory'
'.platform-darwin .tree-view':
  's': 'tree-view:open-selected-entry-right'
  'S': 'tree-view:open-selected-entry-left'
  'i': 'tree-view:open-selected-entry-down'
  'I': 'tree-view:open-selected-entry-up'
  'ctrl-l': 'tree-view:toggle-focus'
  'r': 'tree-view:show-in-file-manager'
  'd': 'tree-view:remove'
  'c': 'tree-view:duplicate'

# Ctrl-hjkl for movement between panes
'body':
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-j': 'window:focus-pane-below'
  # Fuzzy Finder
  'ctrl-v': 'pane:split-right-and-copy-active-item'
  'ctrl-V': 'pane:split-left-and-copy-active-item'
  'ctrl-x': 'pane:split-down-and-copy-active-item'
  'ctrl-X': 'pane:split-up-and-copy-active-item'

'.command-palette atom-text-editor,
.fuzzy-finder atom-text-editor':
  'ctrl-k': 'core:move-up'
  'ctrl-j': 'core:move-down'
  'ctrl-h': 'core:move-left'
  'ctrl-l': 'core:move-right'

# Easier markdown toggle
'atom-workspace, atom-workspace atom-text-editor':
  'ctrl-m': 'markdown-preview:toggle'

# Git Shortcuts
'.workspace':
  ', g p': 'github:push'
  ', g P': 'github:pull'
  ', g c': 'github:commit'
  ', g t': 'github:toggle-git-tab'
  ', g a': 'github:stage-all-changes'
  ', g A': 'github:unstage-all-changes'

# Autocomplete
'body atom-text-editor.autocomplete-active':
  'shift-tab': 'autocomplete-plus:move-up'
  'tab': 'autocomplete-plus:move-down'

# Toggle Terminal
'.platform-darwin atom-workspace':
  'cmd-t': 'termination:toggle'

# Resize panes with arrows
'atom-workspace atom-pane':
  'down': 'pane:decrease-size'
  'up': 'pane:increase-size'
  'left': 'pane:decrease-size'
  'right': 'pane:increase-size'
