'.source.js.jsx':
  'export default as':
    'prefix': 'eas'
    'body': "export { default as ${1:Component} } from './$1'"
  'export default':
    'prefix': 'ed'
    'body': "export default $1"
  'import':
    'prefix': 'imp'
    'body': "import $1 from '$2'"
  'jquery quick import':
    'prefix': 'jq'
    'body': "import $ from 'jquery'"
'.source.scss':
  'breakpoint':
    'prefix': 'break'
    'body': "@include breakpoint(${1:desktop}) {\n\t$2\n}"
