snippet jqueryfunction "Self executing jquery function" b
;(function ($) {

  $0

})(jQuery)
endsnippet

snippet scf "Self executing normal function" b
;(function () {

  $0

})()
endsnippet

snippet log "console log the things" b
console.log($0)
endsnippet

snippet reactstateless "A basic stateless placeholder" b
export default () => (
$0
)
endsnippet
