snippet apaweb "citando apa modo web" w
${1:Apellido} ${2:Iniciales}, (${3:2009}) _${4:Título}_. ${5:Lugar de publicación}: ${6:
Nombre de la página web}. Recuperado de ${7:http://www.google.com}
endsnippet

snippet apalibro "citando un libro en apa" w
${1:Apellido} ${2:Iniciales}, (${3:2009}), _${4:Título}_, ${5:Ciudad y País},
${6:Editorial}
endsnippet

snippet quickapa "apa express donde sea" w
(${1:Nombre del Autor}, ${2:2009})
endsnippet
