snippet plug "Conditional plugin declaration" b
if has_key(g:plugs, '$1')
  $0
endif
endsnippet

snippet styled "Add Styled Components css linting" b
if has_key(g:plugs, 'ale')
  let g:ale_linters['jsx'] = ['standard', 'stylelint']
  let g:ale_linter_aliases = {'jsx': 'css'}
endif
endsnippet
